@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}

button {
  background: none;
  border: 1px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #6638c2;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover {
  background: none;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav > * {
  flex: 1;
}

#profile-nav {
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

#profile-nav img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#profile-nav span {
  font-size: 0.8em;
  padding-left: 10px;
}

#config-nav {
  text-align: right;
  margin-left: auto;
}

#config-nav a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: font-size .5s;
}

#config-nav a:hover {
  font-size: 1.7em;
}  

#config-nav a::before{
  grid-area: 1/ 1;
  content: attr(data-ico);
}

.aside-1 {
  max-width: 215px;
}

#msg-game {
  display: flex;
  flex-direction: column-reverse;
}

#msg-game span {
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
}

#msg-game p {
  font-size: 0.91333321em;
  text-align: left;
  opacity: 1;
  transition: all 1s;
}

#game-area{
  border-spacing: 0px;
}

#game-area img{
  width: 130px;
  margin: 8px;
}

#game-area {
  position: relative;
  width: 890px;
  height: 609px;
}

#game-area tr {
  position: relative;
}

#game-area tr td .flip-card {
  position: absolute;
  transition: transform 1s cubic-bezier(0.68,-.55,.265,1.55), left 1s cubic-bezier(0.68,-.55,.265,1.55);
  top: 0;
}

#game-area tr td:nth-child(1) .flip-card { --nth-child: 1 }
#game-area tr td:nth-child(2) .flip-card { --nth-child: 2 }
#game-area tr td:nth-child(3) .flip-card { --nth-child: 3 }
#game-area tr td:nth-child(4) .flip-card { --nth-child: 4 }
#game-area tr td:nth-child(5) .flip-card { --nth-child: 5 }
#game-area tr td:nth-child(6) .flip-card { --nth-child: 6 }

#game-area tr td:nth-child(n) .flip-card {
  left: calc((var(--nth-child) - 1) * 148px);
  z-index: calc((var(--nth-child) * -1) + 1000);
}

#game-area tr td:nth-child(n) .flip-card.unsorted {
  left: calc(100% - 148px + (var(--nth-child) * 10px))
}

.flip-card {
  background-color: transparent;
  z-index: 1000;
  width: 149px;
  height: 152px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.front-card .flip-card-inner{
  transform: rotateY(0deg);
}

.flip-card.back-card .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.footer {
  text-align: left;
  margin-top: 30px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper > * {
  flex: 1 100%;
}

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 1200px) {
  .main { flex: 7 0px; }
  .main    { order: 1; }
  .aside-offset { order: 2; }
  .aside-1 { order: 3; }
  .footer  { order: 4; }
}